<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="WorkBCConnectionString" connectionString="Persist Security Info=False;database=__WORKBC_DB_NAME__;server=__WORKBC_DB_SERVER__;user id=__WORKBC_DB_USER__;password=__WORKBC_BC_PASSWORD__;Current Language=English;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
		<add name="CMSConnectionString" connectionString="Persist Security Info=False;database=__CMS_DB_NAME__;server=__CMS_DB_SERVER__;user id=__CMS_DB_USER__;password=__CMS_DB_PASSWORD__;Current Language=English;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
		<add name="Elmah.SQLite" connectionString="data source=~/App_Data/Elmah.SQLite.db"/>
	</connectionStrings>
	<appSettings>
		<add key="debug" value="false"/>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="false"/>
		<add key="CustomTaggingTableName" value="WorkBC_CustomTagging"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="DataCacheMinutes" value="30"/>
		<add key="WelcomeBCHost" value=""/>
		<add key="WorkBCHost" value=""/>
		<add key="elmah.mvc.disableHandler" value="false"/>
		<add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
		<add key="elmah.mvc.requiresAuthentication" value="false"/>
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false"/>
		<add key="elmah.mvc.allowedRoles" value="*"/>
		<add key="elmah.mvc.allowedUsers" value="*"/>
		<add key="elmah.mvc.route" value="elmah"/>
		<add key="elmah.mvc.UserAuthCaseSensitive" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.1"/>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<clear/>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
		<httpModules>
			<add name="CustomTaggingModule" type="CustomTaggingModule.CustomTaggingModule, CustomTaggingModule"/>
			<!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="CustomTaggingModule" type="CustomTaggingModule.CustomTaggingModule, CustomTaggingModule"/>
			<!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />-->
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
		</modules>
		<staticContent>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
		</staticContent>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<elmah>
		<security allowRemoteAccess="false"/>
		<errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="Elmah.SQLite"/>
	</elmah>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
