<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="debug" value="false"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="UI" patternSyntax="Wildcard">
          <match url="UI/*" />
          <action type="Rewrite" url="UI_build/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <location path="UI_build" xdt:Transform="Insert">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>