[class*="icon-"] {
  display: inline-block;
  background-size: contain;
}

.icon-middle-align{
  vertical-align: middle;
  margin-top:-5px;
}

.icon-right {
  margin-right:-10px;
  margin-left:10px;
}

.icon-left {
  margin-right: 5px;
  @media (min-width: 980px) {
    margin-left:-10px;
    margin-right: 10px;
  }
}

.icon-close {
  width:30px;
  height:30px;
}

.icon-collapse, .icon-expand {
  width:20px;
  height:20px;
  @extend .icon-middle-align;
}

//workbc icons

.icon-bc-jobsplan {
  width:160px;
  height:54px;
}

.icon-bc-logo-footer{
  width:191px;
  height:50px;
}

.icon-back-to-top {
  width:45px;
  height:45px;
}

.icon-bar-graph {
  width: 26px;
  height: 19px;
  @extend .icon-middle-align;
}

.icon-link, .icon-chevron-black {
   width: 7px;
  height: 10px;
}

.icon-chevron-circle {
  width: 25px;
  height: 24px;
}

.icon-chevron-white {
  width: 15px;
  height: 23px;
}

.icon-chevron-white-small, .icon-chevron-black-small, .icon-chevron-blue-small {
  width: 8px;
  height: 12px;
  @extend .icon-middle-align;
}

.icon-collapse-panel {
  width: 30px;
  height: 30px;
}

.icon-expand-panel {
  width: 30px;
  height: 30px;
}

.icon-info, .icon-info-bluedark,.icon-info-white  {
  width: 20px;
  height: 20px;
  @extend .icon-middle-align;
}

.icon-map-pin-circle {
  width: 30px;
  height: 30px;
  @extend .icon-middle-align;
}

.icon-pie-chart {
  width: 24px;
  height: 24px;
  @extend .icon-middle-align;
}

.icon-remove, .icon-remove-overview {
  width: 14px;
  height: 14px;
  @extend .icon-middle-align;
}

.icon-map-pin, .icon-map-pin-black, .icon-map-pin-bluedark, .icon-mapoverlay-map-pin {
  width: 10px;
  height: 16px;
  @extend .icon-middle-align;
}

.icon-map-pin-google {
  width: 10px;
  height: 15px;
}
.icon-orange-triangle-link{
  width:6px;
  height:10px;
}

.icon-workbc-header-logo {
  width:350px;
  height:48px;
}